.book-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.book-form input {
  font: inherit;
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.15rem;
  margin-bottom: 0.5rem;
}

.book-form input:focus {
  outline: none;
  border-color: #000000;
}
